{{>header}}
{{>nav}}
<section class="container my-5">
    <h3>Todo Lists</h3>
    <div class="d-flex justify-content-between mb-4">
            <a href="/add" class="btn btn-primary">
                Add Todo
            </a>
            <a href="/deleteAll" class="btn btn-danger">
                Delete All
            </a>
    </div>
    <table class="table table-bordered" >
        <thead class="text-center">
            {{#if hasData}}
            <tr>
            <th>id</th>
            <th>title</th>
            <th>content</th>
            <th>status</th>
            <th>due date</th>
            <th>Actions</th>
            </tr>
            {{else}}
            <tr>
            <th>id</th>
            <th>title</th>
            <th>content</th>
            <th>status</th>
            <th>due date</th>
            </tr>
            {{/if}}
        </thead>
        <tbody class="text-center">
            {{#if hasData}}
            {{#each allTasks}}
            <tr>
                <td>{{_id}}</td>
                <td>{{title}}</td>
                <td>{{content}}</td>
                <td>{{status}}</td>
                <td>{{dueDate}}</td>
                <td>
                    {{#if status}}
                    <a href="/status/{{_id}}" class="btn btn-success mx-3">Active</a>
                    {{else}}
                    <a href="/status/{{_id}}" class="btn btn-secondary mx-3">non-active</a>
                    {{/if}}
                    <a href="/show/{{_id}}" class="btn btn-primary mx-3">Show</a>
                    <a href="/edit/{{_id}}" class="btn btn-warning mx-3">Edit</a>
                    <a href="/delete/{{_id}}" class="btn btn-danger mx-3">Delete</a>
                </td>
            </tr>
            {{/each}}
            {{else}}
            <tr>
                <td colspan="5">No data yet</td>
            </tr>
            {{/if}}
        </tbody>
    </table>
</section>
{{>footer}}