{{>header}}
{{>nav}}
<section class="my-5 container">
    {{#if data}}
    <div>
        <h3>id: {{data._id}}</h3>
        <h3>title: {{data.title}}</h3>
        <h3>content: {{data.content}}</h3>
        <h3>status: {{data.status}}</h3>
        <h3>due date: {{data.dueDate}}</h3>
    </div>
    {{else}}
    <div class="alert alert-danger">
        No data found
    </div>
    {{/if}}
</section>
{{>footer}}